<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>MaterializeCSS Multi-Column Card Flow</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
  <link rel="stylesheet" href="static/style.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="table-top">
          <h2>Top 10 Stocks</h2>
          <table id = "top_stocks" class="table table-striped table-hover table-bordered top_stocks" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="col-md-2 col-xs-2">Code</th>
                <th class="col-md-2 col-xs-2">Name</th>
                <th class="col-md-2 col-xs-2">Open</th>
                <th class="col-md-2 col-xs-2">High</th>
                <th class="col-md-2 col-xs-2">Low</th>
                <th class="col-md-2 col-xs-2">Close</th>
              </tr>
            </thead>
            <tbody>
              {% for items in top_stocks %}
              <tr>
                <td>{{items['code']}}</td>
                <td>{{items['name']}}</td>
                <td>{{items['open']}}</td>
                <td>{{items['high']}}</td>
                <td>{{items['low']}}</td>
                <td>{{items['close']}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="table-search">
          <h2>Search Stocks</h2>
          <div class="row">
            <div class="col-lg-3">
              <div class="input-group">
                  <input type="text" class="form-control search-text" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary go-button" type="button">Go!</button>
                  </span>
              </div>
            </div>
          </div>
          <br>
          <table id = "search" class="table table-hover table-bordered search">
            <thead>
              <tr>
                <th class="col-md-2 col-xs-2">Code</th>
                <th class="col-md-2 col-xs-2">Name</th>
                <th class="col-md-2 col-xs-2">Open</th>
                <th class="col-md-2 col-xs-2">High</th>
                <th class="col-md-2 col-xs-2">Low</th>
                <th class="col-md-2 col-xs-2">Close</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
      </div>
    </div>
  </div>
</body>
<script src="static/index.js"></script>
</html>
